html,
body {
  background-color: #f5f5f5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

#home {
  height: 100%;
  width: 100%;
  text-align: center;
}

#wordbox {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: -50px -50px;

}

#word{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
}
#name{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
}