body {
  font-family: helvetica, arial, sans-serif;

  background-color: #0f0e17;
  color: #a7a9be;

  font-size: 1.2em;
  margin: 4em 2em;
  }


  video {
    margin: 40px 0px; 
  }

  button {
    background-color: #ff6f00;
    color: #FFF;
    border: none;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 2em;

  }
  button:hover {
    background-color: #eF5F00;
  }
  
  h1 {
    font-style: italic;
    color: #fffffe;
    margin: 0;
    margin: 1em 0px;
    text-decoration: underline #eF5F00 ;
  }
  h1#Feature{
  margin: 40px 10px 20px 0px;
  }
  
  video {
    display: block;
  }
  
  
  .removed {
    display: none;
  }
  
  .invisible {
    opacity: 0.2;
  }
  
  .camView {
    position: relative;
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    cursor: pointer;
  }
  
  .camView p {
    position: absolute;
    padding: 5px;
    background-color: rgba(255, 111, 0, 0.85);
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
  }
  
  .highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
  }
  
  .hide{
    display: none
  }

  svg path,
svg rect{
  fill: #FF6F00;
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;

}
ul{
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-grow: 2;
  border-radius: 5px;
}
li{
  border-radius: 5px;
  margin: 5px;
}

ul.Feature {
  padding-left: 0px;
  text-align: center;
}
ul.Feature > li {
  display: inline-block;
  padding: 10px 20px;
}
ul.Feature > li:hover {
  background-color: #ff6f00f5;
  color: #FFF;
}
li:hover svg path, svg rect  {
  fill: #0f0e17;
}

ul.Feature > li > a {
  color: white;
  text-decoration: none;
}

.icons{
  width: 50px;
  height: 50px;
  border-radius: 0px;
}
#icon3{
  width: 55px;
  height: 55px;
}

h2{
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
}

input {
  background-color: #FF6F00;
}

.logo{
  width: 35%;
  margin: 0 0 30px 0;
}



@media only screen and (max-width: 768px), only screen and (max-device-width: 768px)  {
    body{
      font-family: helvetica, arial, sans-serif;

      background-color: #0f0e17;
      color: #a7a9be;

      font-size: 1.3em;
      margin: 1em;

    
    }
    p { 
      margin: 30px 0;
    }


      button {
        background-color: #FF6F00;
        color: #FFF;
        border: none;
        padding: 10px;
        font-size: 2em;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        margin: 10px;
        width: 100%;
      }

      ul{
        display: flex;
        flex-direction: column;
      }
      .logo{
        width: 100%;
        margin: 0;
      }

    
    }
    


.Customize{
  width: 90%;
  margin: 2em 0 0 0;
}
input{
  width: 100%;
}

img{
  width: 100%; 
}

hr {
  border: 2px solid #ff6f00;
  background-color: #ff6f00;
  margin: 1em 0 2em 0;
  display: none;
}

label{
  font-weight: bold;
  color: #ccc;
}

table{
  width: 100%;
  text-align: center;
  border-collapse: collapse;

}

th ,td{

  padding: 6px;
}
th {
  border-bottom: 2px #ff6f00 solid;
}
.centd{
  border-right: 2px #ff6f00 solid;
  border-left: 2px #ff6f00 solid;
}

#predictionTable tr:nth-child(odd) {
  background-color: #0f0e17;
}

/* Background-color of the even rows */
#predictionTable tr:nth-child(even) {
  background-color: #1f1e27;
}
#predictionTable :hover{
  background-color: #ff6f00f5;
  color: #FFF;
}